# Operations Reporting Module

The code is stored in a container called jupyter-lite. This container contains all the libraries and programs needed to run the code. Jupyter-lite is a web based container so you simply need the link to open the application. However, the code is stored in a cloud space so local file can only be accessed through an extension. The extension is already installed, but it only works in Google Chrome currently.

To run the code, upload the pdf to the same folder as the file label pdf_conveter.ipynb. This is the raw code so you will to specify the filename and number of pages right in the code. You need to specify the name of the file where it says “type filename”. Specify the number of pages in the document where it says, “type number of pages here.” Lastly, to run the code click the first cell at the top of the page under the title then press shift+enter to run that cell. Always start from the first code cell moving downward.

In [2]:
# Import the required Module
import tabula
import pandas as pd
import numpy as np
import os

### Configuration

In [21]:
Restaurant = "MS"

In [42]:
# enter year of filename
year = "2022"

In [34]:
# enter month of filename
short_month = "Apr"

In [31]:
Report_Name = "InventoryStat"

### Inventory Stat Report

In [ ]:
Report_Name = ""

In [43]:
# Read a PDF File
isr = tabula.read_pdf(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf', stream=True, pages=3, guess=False, pandas_options={'header': None},
                     columns=(52.47, 165.55,235.55,292.63,346.88,390.42,430.31,472.13,523.42,575.88,622.33,661.71,712.50))[0]
isr

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,DANBRAD LTD,NaN,NaN,Valued,Invento,ry Stat,Repor,t,NaN,Date,: 05/,10/2022,NaN
1,NaN,rep_consumo_ant_va,lor_idl_en,NaN,NaN,(Other,Months,),NaN,NaN,Hour,: 12:,34:35,NaN
2,NaN,Ver: 201906051200,NaN,Mo,nth in Pro,cess:,4 - 202,2,NaN,NaN,Page,: 3,NaN,NaN
3,NaN,NaN,NaN,Initial,NaN,Trans.,A,ccount,Ac,tual Usage,R,aw Th,eorical Amo,unt in $
4,Wrin Numbe,r Description,UOM,Inv,Purchases,+/-,Adjust A,djust F,inal Inv (I,nventory),CondW,aste Usag,e (P.Mix)S,tat +/-
5,Company 2,Description DANBRAD LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Store,01 Description MARLBORU,GH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Class,001 Description FOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Category,001 Description FOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4887,SPICY CHICKEN NUGGETS,UNIT-EACH,0.00,0.00,624,0.00,0.00,0.00,624.41,0.00,0.00,0.00,624.41
10,555,SUGAR BULK,BAGS,194.41,67.62,0,0.00,0.00,160.60,101.43,0.00,0.00,0.00,101.43
11,47,SUGAR PACKET,PACKET,133.92,700.60,0,0.00,0.00,135.36,699.16,0.00,0.00,0.00,699.16
12,168,SYRUP SPRITE,GALLONS,187.25,321.00,0,0.00,0.00,187.25,321.00,0.00,0.00,514.78,-193.78
13,15610000,Spicy pepper sauce,POUNDS,130.77,217.95,0,0.00,0.00,130.77,217.95,0.00,0.00,187.94,30.01
14,57,TEA BAGS HOT,UNIT-EACH,69.91,106.65,0,0.00,0.00,28.25,148.31,0.00,0.00,48.54,99.77
15,253,TOMATOES,UNIT-EACH,55.04,567.60,-26,0.00,0.00,79.12,517.72,0.00,0.00,974.34,-456.62
16,3470,TOP - CRUSH M&MS,POUCH,61.94,97.34,0,0.00,0.00,95.57,63.71,0.00,0.00,23.83,39.88
17,3471,TOP - CRUSH OREO,BAGS,22.27,57.28,0,0.00,0.00,44.55,35.00,0.00,0.00,19.92,15.08
18,7252,TOP SUNDAE NUTS,PACKET,0.00,0.00,0,0.00,0.00,NaN,0.00,0.00,0.00,111.93,-111.93
19,69,TOPPING CARAMEL,BAGS,77.40,0.00,0,0.00,0.00,33.86,43.54,0.00,0.00,95.53,-51.99
20,65,TOPPING FUDGE,BAGS,101.68,68.25,0,0.00,0.00,111.52,58.41,0.00,0.00,77.31,-18.90
21,67,TOPPING STRAWBERRY,BAGS,112.42,53.62,0,0.00,0.00,79.95,86.09,0.00,0.00,72.31,13.78
22,3114,TORTILLA FLOUR SHELL 8 IN,UNIT-EACH,39.05,135.06,0,0.00,0.00,46.97,127.14,0.00,0.00,111.93,15.21
23,2589,VEGETABLE OIL,POUNDS,"1,225.02","2,789.28",0,0.00,0.00,"1,125.96","2,888.34",0.00,0.00,0.00,"2,888.34"
24,406,WHIPPED CREM,CANS,24.42,266.35,0,0.00,0.00,151.71,139.06,0.00,0.00,0.00,139.06
25,3638,YOOHOO (CHOCOLATE MIX),UNIT-EACH,89.80,17.90,0,0.00,0.00,70.68,37.02,0.00,0.00,103.19,-66.17
26,Category,Total ---------------------->,NaN,"29,264","81,407","6,739",0,0,"26,841","90,569",0,0,"75,510","15,059"
27,Class T,otal ------------------------------------>,NaN,"29,264","81,407","6,739",0,0,"26,841","90,569",0,0,"75,510","15,059"

In [10]:
isr.columns = ['Wrin','Description','UOM','Initial Inv','Purchases','Trans+/-','Adjust','Account Adjust','Final Inv',
              'Actual Usage (Inventory)','Cond','Raw Waste','Theorical Usage P.mix)','Amount in $ Stat +/-']
isr

,Wrin,Description,UOM,Initial Inv,Purchases,Trans+/-,Adjust,Account Adjust,Final Inv,Actual Usage (Inventory),Cond,Raw Waste,Theorical Usage P.mix),Amount in $ Stat +/-
0,NaN,DANBRAD LTD,NaN,NaN,Valued,Invento,ry Stat,Repor,t,NaN,Date,: 05/,10/2022,NaN
1,NaN,rep_consumo_ant_va,lor_idl_en,NaN,NaN,(Other,Months,),NaN,NaN,Hour,: 12:,34:35,NaN
2,NaN,Ver: 201906051200,NaN,Mo,nth in Pro,cess:,4 - 202,2,NaN,NaN,Page,: 3,NaN,NaN
3,NaN,NaN,NaN,Initial,NaN,Trans.,A,ccount,Ac,tual Usage,R,aw Th,eorical Amo,unt in $
4,Wrin Numbe,r Description,UOM,Inv,Purchases,+/-,Adjust A,djust F,inal Inv (I,nventory),CondW,aste Usag,e (P.Mix)S,tat +/-
5,Company 2,Description DANBRAD LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Store,01 Description MARLBORU,GH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Class,001 Description FOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Category,001 Description FOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4887,SPICY CHICKEN NUGGETS,UNIT-EACH,0.00,0.00,624,0.00,0.00,0.00,624.41,0.00,0.00,0.00,624.41
10,555,SUGAR BULK,BAGS,194.41,67.62,0,0.00,0.00,160.60,101.43,0.00,0.00,0.00,101.43
11,47,SUGAR PACKET,PACKET,133.92,700.60,0,0.00,0.00,135.36,699.16,0.00,0.00,0.00,699.16
12,168,SYRUP SPRITE,GALLONS,187.25,321.00,0,0.00,0.00,187.25,321.00,0.00,0.00,514.78,-193.78
13,15610000,Spicy pepper sauce,POUNDS,130.77,217.95,0,0.00,0.00,130.77,217.95,0.00,0.00,187.94,30.01
14,57,TEA BAGS HOT,UNIT-EACH,69.91,106.65,0,0.00,0.00,28.25,148.31,0.00,0.00,48.54,99.77
15,253,TOMATOES,UNIT-EACH,55.04,567.60,-26,0.00,0.00,79.12,517.72,0.00,0.00,974.34,-456.62
16,3470,TOP - CRUSH M&MS,POUCH,61.94,97.34,0,0.00,0.00,95.57,63.71,0.00,0.00,23.83,39.88
17,3471,TOP - CRUSH OREO,BAGS,22.27,57.28,0,0.00,0.00,44.55,35.00,0.00,0.00,19.92,15.08
18,7252,TOP SUNDAE NUTS,PACKET,0.00,0.00,0,0.00,0.00,NaN,0.00,0.00,0.00,111.93,-111.93
19,69,TOPPING CARAMEL,BAGS,77.40,0.00,0,0.00,0.00,33.86,43.54,0.00,0.00,95.53,-51.99
20,65,TOPPING FUDGE,BAGS,101.68,68.25,0,0.00,0.00,111.52,58.41,0.00,0.00,77.31,-18.90
21,67,TOPPING STRAWBERRY,BAGS,112.42,53.62,0,0.00,0.00,79.95,86.09,0.00,0.00,72.31,13.78
22,3114,TORTILLA FLOUR SHELL 8 IN,UNIT-EACH,39.05,135.06,0,0.00,0.00,46.97,127.14,0.00,0.00,111.93,15.21
23,2589,VEGETABLE OIL,POUNDS,"1,225.02","2,789.28",0,0.00,0.00,"1,125.96","2,888.34",0.00,0.00,0.00,"2,888.34"
24,406,WHIPPED CREM,CANS,24.42,266.35,0,0.00,0.00,151.71,139.06,0.00,0.00,0.00,139.06
25,3638,YOOHOO (CHOCOLATE MIX),UNIT-EACH,89.80,17.90,0,0.00,0.00,70.68,37.02,0.00,0.00,103.19,-66.17
26,Category,Total ---------------------->,NaN,"29,264","81,407","6,739",0,0,"26,841","90,569",0,0,"75,510","15,059"
27,Class T,otal ------------------------------------>,NaN,"29,264","81,407","6,739",0,0,"26,841","90,569",0,0,"75,510","15,059"

In [11]:
isr = isr.drop(axis=0, labels=0)
isr = isr.drop(axis=0, labels=1)
isr = isr.drop(axis=0, labels=2)
isr = isr.drop(axis=0, labels=3)
isr = isr.drop(axis=0, labels=4)
isr = isr.drop(axis=0, labels=5)
isr = isr.drop(axis=0, labels=6)
isr = isr.drop(axis=0, labels=7)
isr = isr.drop(axis=0, labels=8)
isr

,Wrin,Description,UOM,Initial Inv,Purchases,Trans+/-,Adjust,Account Adjust,Final Inv,Actual Usage (Inventory),Cond,Raw Waste,Theorical Usage P.mix),Amount in $ Stat +/-
9,4887,SPICY CHICKEN NUGGETS,UNIT-EACH,0.00,0.00,624,0.00,0.00,0.00,624.41,0.00,0.00,0.00,624.41
10,555,SUGAR BULK,BAGS,194.41,67.62,0,0.00,0.00,160.60,101.43,0.00,0.00,0.00,101.43
11,47,SUGAR PACKET,PACKET,133.92,700.60,0,0.00,0.00,135.36,699.16,0.00,0.00,0.00,699.16
12,168,SYRUP SPRITE,GALLONS,187.25,321.00,0,0.00,0.00,187.25,321.00,0.00,0.00,514.78,-193.78
13,15610000,Spicy pepper sauce,POUNDS,130.77,217.95,0,0.00,0.00,130.77,217.95,0.00,0.00,187.94,30.01
14,57,TEA BAGS HOT,UNIT-EACH,69.91,106.65,0,0.00,0.00,28.25,148.31,0.00,0.00,48.54,99.77
15,253,TOMATOES,UNIT-EACH,55.04,567.60,-26,0.00,0.00,79.12,517.72,0.00,0.00,974.34,-456.62
16,3470,TOP - CRUSH M&MS,POUCH,61.94,97.34,0,0.00,0.00,95.57,63.71,0.00,0.00,23.83,39.88
17,3471,TOP - CRUSH OREO,BAGS,22.27,57.28,0,0.00,0.00,44.55,35.00,0.00,0.00,19.92,15.08
18,7252,TOP SUNDAE NUTS,PACKET,0.00,0.00,0,0.00,0.00,NaN,0.00,0.00,0.00,111.93,-111.93
19,69,TOPPING CARAMEL,BAGS,77.40,0.00,0,0.00,0.00,33.86,43.54,0.00,0.00,95.53,-51.99
20,65,TOPPING FUDGE,BAGS,101.68,68.25,0,0.00,0.00,111.52,58.41,0.00,0.00,77.31,-18.90
21,67,TOPPING STRAWBERRY,BAGS,112.42,53.62,0,0.00,0.00,79.95,86.09,0.00,0.00,72.31,13.78
22,3114,TORTILLA FLOUR SHELL 8 IN,UNIT-EACH,39.05,135.06,0,0.00,0.00,46.97,127.14,0.00,0.00,111.93,15.21
23,2589,VEGETABLE OIL,POUNDS,"1,225.02","2,789.28",0,0.00,0.00,"1,125.96","2,888.34",0.00,0.00,0.00,"2,888.34"
24,406,WHIPPED CREM,CANS,24.42,266.35,0,0.00,0.00,151.71,139.06,0.00,0.00,0.00,139.06
25,3638,YOOHOO (CHOCOLATE MIX),UNIT-EACH,89.80,17.90,0,0.00,0.00,70.68,37.02,0.00,0.00,103.19,-66.17
26,Category,Total ---------------------->,NaN,"29,264","81,407","6,739",0,0,"26,841","90,569",0,0,"75,510","15,059"
27,Class T,otal ------------------------------------>,NaN,"29,264","81,407","6,739",0,0,"26,841","90,569",0,0,"75,510","15,059"

### Save to csv

In [ ]:
isr.to_csv(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf')

### Daily Expense Report

In [ ]:
#change report name
Report_Name = "DailyExpense"

In [346]:
der = tabula.read_pdf(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf', stream=True, guess=False, pandas_options={'header': None},
                     columns=(80.52, 124.71,159.07,209.13,260.19,293.57,335.79,369.18,409.42,443.79,483.06,521.37,557.69))[0]
der

'pages' argument isn't specified.Will extract only from page 1 by default.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,===============,===========,========,===========,============,========,==========,========,==========,========,= DAILY E,XPENSE ==,========,==============================================...
1,DANBRAD LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/6/2022 10:15:18AM Page 1 of 1
2,Store #52058 MA,RLBOROUGH S,TREET.,Information,from 08-01-,22 thru,08-31-22.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,A/R,PETTY,CREDIT,KRAVEN,CREW R,EGISTER,FOOD,KITCHEN,MISC.,OFFICE,PAPER,PROMO,TRAVEL
4,Date,MISCE.,CASH,CARD,KRAVEN,WAGES,REPAIRS E,XPENSE,EQUIP. E,XPENSE,EXPENSE,EXPENSE,EXPENSE,EXPENSE
5,08-01-22 Mon,0.00,0.00,"3,739.62",70.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,08-02-22 Tue,0.00,0.00,"3,167.05",150.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,08-03-22 Wed,0.00,0.00,"2,574.58",154.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,08-04-22 Thu,0.00,0.00,"2,887.90",59.87,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,08-05-22 Fri,0.00,0.00,"3,648.18",161.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,08-06-22 Sat,0.00,0.00,"3,219.21",180.93,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,08-07-22 Sun,0.00,0.00,"3,068.56",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
13,Week Total,0.00,0.00,"22,305.10",776.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,08-08-22 Mon,0.00,0.00,"3,117.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,08-09-22 Tue,0.00,0.00,"2,711.74c",89.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,08-10-22 Wed,0.00,0.00,"3,085.12c",65.36,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,08-11-22 Thu,0.00,0.00,"3,405.80c",149.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,08-12-22 Fri,261.17,0.00,"3,694.81c",52.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,08-13-22 Sat,0.00,0.00,"3,296.11c",103.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,08-14-22 Sun,390.00,0.00,"3,164.12c",100.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
22,Week Total,651.17,0.00,"22,474.70",560.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,08-15-22 Mon,0.00,0.00,"2,804.88c",78.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,08-16-22 Tue,0.00,0.00,"3,084.43",211.79,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,08-17-22 Wed,195.26,0.00,"2,693.49c",121.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,08-18-22 Thu,0.00,0.00,"3,281.40",65.41,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,08-19-22 Fri,0.00,0.00,"3,208.61c",70.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,08-20-22 Sat,492.00,0.00,"3,566.13c",83.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,08-21-22 Sun,0.00,0.00,"2,779.91",91.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
30,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
31,Week Total,687.26,0.00,"21,418.85",722.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
32,08-22-22 Mon,0.00,0.00,"2,530.02c",76.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
33,08-23-22 Tue,0.00,0.00,"2,450.38c",74.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
34,08-24-22 Wed,0.00,0.00,"2,322.85c",89.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
35,08-25-22 Thu,0.00,0.00,"2,701.89",137.12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,08-26-22 Fri,0.00,0.00,"3,052.42c",91.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37,08-27-22 Sat,0.00,0.00,"3,151.34c",60.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
38,08-28-22 Sun,0.00,0.00,"3,033.15c",115.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
39,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
40,Week Total,0.00,0.00,"19,242.05",645.13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
41,08-29-22 Mon,0.00,0.00,"2,560.37c",73.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
42,08-30-22 Tue,0.00,0.00,"3,006.00c",154.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,08-31-22 Wed,0.00,0.00,"3,008.44c",384.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
44,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
45,Week Total xx,0.00,0.00,"8,574.81",612.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
46,Total,1338.43,0.00,"94,015.51",3316.64,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
47,Average,43.18,0.00,"3,032.76",106.99,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [347]:
der.columns = ['DATE','A/R MISCE','PETTY CASH','CREDIT CARD','KRAVEN','CREW WAGES','REGISTER REPAIRS','FOOD EXPENSE','KITCHEN EQUIP',
              'MISC. EXPENSE','OFFICE EXPENSE','PAPER EXPENSE','PROMO EXPENSE','TRAVEL EXPENSE']
der

,DATE,A/R MISCE,PETTY CASH,CREDIT CARD,KRAVEN,CREW WAGES,REGISTER REPAIRS,FOOD EXPENSE,KITCHEN EQUIP,MISC. EXPENSE,OFFICE EXPENSE,PAPER EXPENSE,PROMO EXPENSE,TRAVEL EXPENSE
0,===============,===========,========,===========,============,========,==========,========,==========,========,= DAILY E,XPENSE ==,========,==============================================...
1,DANBRAD LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/6/2022 10:15:18AM Page 1 of 1
2,Store #52058 MA,RLBOROUGH S,TREET.,Information,from 08-01-,22 thru,08-31-22.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,A/R,PETTY,CREDIT,KRAVEN,CREW R,EGISTER,FOOD,KITCHEN,MISC.,OFFICE,PAPER,PROMO,TRAVEL
4,Date,MISCE.,CASH,CARD,KRAVEN,WAGES,REPAIRS E,XPENSE,EQUIP. E,XPENSE,EXPENSE,EXPENSE,EXPENSE,EXPENSE
5,08-01-22 Mon,0.00,0.00,"3,739.62",70.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,08-02-22 Tue,0.00,0.00,"3,167.05",150.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,08-03-22 Wed,0.00,0.00,"2,574.58",154.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,08-04-22 Thu,0.00,0.00,"2,887.90",59.87,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,08-05-22 Fri,0.00,0.00,"3,648.18",161.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,08-06-22 Sat,0.00,0.00,"3,219.21",180.93,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,08-07-22 Sun,0.00,0.00,"3,068.56",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
13,Week Total,0.00,0.00,"22,305.10",776.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,08-08-22 Mon,0.00,0.00,"3,117.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,08-09-22 Tue,0.00,0.00,"2,711.74c",89.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,08-10-22 Wed,0.00,0.00,"3,085.12c",65.36,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,08-11-22 Thu,0.00,0.00,"3,405.80c",149.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,08-12-22 Fri,261.17,0.00,"3,694.81c",52.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,08-13-22 Sat,0.00,0.00,"3,296.11c",103.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,08-14-22 Sun,390.00,0.00,"3,164.12c",100.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
22,Week Total,651.17,0.00,"22,474.70",560.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,08-15-22 Mon,0.00,0.00,"2,804.88c",78.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,08-16-22 Tue,0.00,0.00,"3,084.43",211.79,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,08-17-22 Wed,195.26,0.00,"2,693.49c",121.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,08-18-22 Thu,0.00,0.00,"3,281.40",65.41,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,08-19-22 Fri,0.00,0.00,"3,208.61c",70.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,08-20-22 Sat,492.00,0.00,"3,566.13c",83.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,08-21-22 Sun,0.00,0.00,"2,779.91",91.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
30,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
31,Week Total,687.26,0.00,"21,418.85",722.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
32,08-22-22 Mon,0.00,0.00,"2,530.02c",76.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
33,08-23-22 Tue,0.00,0.00,"2,450.38c",74.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
34,08-24-22 Wed,0.00,0.00,"2,322.85c",89.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
35,08-25-22 Thu,0.00,0.00,"2,701.89",137.12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,08-26-22 Fri,0.00,0.00,"3,052.42c",91.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37,08-27-22 Sat,0.00,0.00,"3,151.34c",60.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
38,08-28-22 Sun,0.00,0.00,"3,033.15c",115.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
39,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
40,Week Total,0.00,0.00,"19,242.05",645.13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
41,08-29-22 Mon,0.00,0.00,"2,560.37c",73.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
42,08-30-22 Tue,0.00,0.00,"3,006.00c",154.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,08-31-22 Wed,0.00,0.00,"3,008.44c",384.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
44,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
45,Week Total xx,0.00,0.00,"8,574.81",612.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
46,Total,1338.43,0.00,"94,015.51",3316.64,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
47,Average,43.18,0.00,"3,032.76",106.99,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [348]:
der = der.drop(axis=0, labels=0)
der = der.drop(axis=0, labels=1)
der = der.drop(axis=0, labels=2)
der = der.drop(axis=0, labels=3)
der = der.drop(axis=0, labels=4)

In [349]:
der

,DATE,A/R MISCE,PETTY CASH,CREDIT CARD,KRAVEN,CREW WAGES,REGISTER REPAIRS,FOOD EXPENSE,KITCHEN EQUIP,MISC. EXPENSE,OFFICE EXPENSE,PAPER EXPENSE,PROMO EXPENSE,TRAVEL EXPENSE
5,08-01-22 Mon,0.00,0.00,"3,739.62",70.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,08-02-22 Tue,0.00,0.00,"3,167.05",150.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,08-03-22 Wed,0.00,0.00,"2,574.58",154.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,08-04-22 Thu,0.00,0.00,"2,887.90",59.87,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,08-05-22 Fri,0.00,0.00,"3,648.18",161.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,08-06-22 Sat,0.00,0.00,"3,219.21",180.93,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,08-07-22 Sun,0.00,0.00,"3,068.56",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
13,Week Total,0.00,0.00,"22,305.10",776.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,08-08-22 Mon,0.00,0.00,"3,117.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,08-09-22 Tue,0.00,0.00,"2,711.74c",89.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,08-10-22 Wed,0.00,0.00,"3,085.12c",65.36,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,08-11-22 Thu,0.00,0.00,"3,405.80c",149.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,08-12-22 Fri,261.17,0.00,"3,694.81c",52.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,08-13-22 Sat,0.00,0.00,"3,296.11c",103.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,08-14-22 Sun,390.00,0.00,"3,164.12c",100.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
22,Week Total,651.17,0.00,"22,474.70",560.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,08-15-22 Mon,0.00,0.00,"2,804.88c",78.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,08-16-22 Tue,0.00,0.00,"3,084.43",211.79,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,08-17-22 Wed,195.26,0.00,"2,693.49c",121.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,08-18-22 Thu,0.00,0.00,"3,281.40",65.41,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,08-19-22 Fri,0.00,0.00,"3,208.61c",70.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,08-20-22 Sat,492.00,0.00,"3,566.13c",83.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,08-21-22 Sun,0.00,0.00,"2,779.91",91.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
30,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
31,Week Total,687.26,0.00,"21,418.85",722.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
32,08-22-22 Mon,0.00,0.00,"2,530.02c",76.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
33,08-23-22 Tue,0.00,0.00,"2,450.38c",74.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
34,08-24-22 Wed,0.00,0.00,"2,322.85c",89.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
35,08-25-22 Thu,0.00,0.00,"2,701.89",137.12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,08-26-22 Fri,0.00,0.00,"3,052.42c",91.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37,08-27-22 Sat,0.00,0.00,"3,151.34c",60.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
38,08-28-22 Sun,0.00,0.00,"3,033.15c",115.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
39,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
40,Week Total,0.00,0.00,"19,242.05",645.13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
41,08-29-22 Mon,0.00,0.00,"2,560.37c",73.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
42,08-30-22 Tue,0.00,0.00,"3,006.00c",154.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,08-31-22 Wed,0.00,0.00,"3,008.44c",384.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
44,---------------,-------- -,------ -,--------- -,--------- --,------ -,------- --,------ -,------- --,------ -,------- -,------- -,-------,-------
45,Week Total xx,0.00,0.00,"8,574.81",612.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
46,Total,1338.43,0.00,"94,015.51",3316.64,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
47,Average,43.18,0.00,"3,032.76",106.99,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

### Save to csv

In [ ]:
der.to_csv(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf')

### Non Product Inventory

In [ ]:
Report_Name = "Non-ProductSales"

In [352]:
mnp = tabula.read_pdf(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf', stream=True, guess=False, pandas_options={'header': None},
                     columns=(102.61, 195.85,286.76,376.67,466.29,558.38,654.10))[0]
mnp

'pages' argument isn't specified.Will extract only from page 1 by default.

,0,1,2,3,4,5,6,7
0,DANBRAD LTD,NaN,NaN,NaN,NaN,NaN,Date,: 09/06/2022
1,rvenp_ventas,noproducto_en,NaN,MARL,BORUGH,NaN,Hour,: 10:41:49
2,201907241700,NaN,NaN,Non prod,uct sales,NaN,Page,: 1
3,NaN,NaN,NaN,From : 08/01/2022,To: 08/31/2022,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Cost of to,y = Toy cost + H,appy Meal box
5,NaN,NaN,NaN,NaN,NaN,Cost of to,y = 1.24,NaN
6,NaN,Happy meal t,oys,Celebratio,ns,Other non pr,oducts,NaN
7,Date,Quantity,Amount,Quantity,Amount,Quantity,Amount,Total Import
8,08/01/2022,156,193.44,0,0,3,6,199.44
9,08/02/2022,119,147.56,0,0,1,2,149.56
10,08/03/2022,79,97.96,0,0,0,0,97.96
11,08/04/2022,105,130.2,0,0,0,0,130.2
12,08/05/2022,127,157.48,0,0,2,4,161.48
13,08/06/2022,136,168.64,0,0,2,4,172.64
14,08/07/2022,91,112.84,0,0,3,6,118.84
15,08/08/2022,106,131.44,0,0,0,0,131.44
16,08/09/2022,101,125.24,0,0,0,0,125.24
17,08/10/2022,104,128.96,0,0,0,0,128.96
18,08/11/2022,77,95.48,0,0,0,0,95.48
19,08/12/2022,124,153.76,0,0,1,2,155.76
20,08/13/2022,130,161.2,0,0,0,0,161.2
21,08/14/2022,75,93,0,0,0,0,93
22,08/15/2022,131,162.44,0,0,0,0,162.44
23,08/16/2022,109,135.16,0,0,1,2,137.16
24,08/17/2022,99,122.76,0,0,0,0,122.76
25,08/18/2022,102,126.48,0,0,12,24,150.48
26,08/19/2022,111,137.64,0,0,13,26,163.64
27,08/20/2022,146,181.04,0,0,8,16,197.04
28,08/21/2022,84,104.16,0,0,4,8,112.16
29,08/22/2022,84,104.16,0,0,2,4,108.16
30,08/23/2022,94,116.56,0,0,0,0,116.56
31,08/24/2022,85,105.4,0,0,2,4,109.4
32,08/25/2022,98,121.52,0,0,2,4,125.52
33,08/26/2022,107,132.68,0,0,1,0.01,132.69
34,08/27/2022,127,157.48,0,0,0,0,157.48
35,08/28/2022,86,106.64,0,0,0,0,106.64
36,08/29/2022,77,95.48,0,0,1,2,97.48
37,08/30/2022,79,97.96,0,0,3,6,103.96
38,08/31/2022,78,96.72,0,0,0,0,96.72
39,Totals:,"3,227","4,001.48",0,0,61,120.01,"4,121.49"

In [353]:
mnp.columns = ['DATE','QUANTITY','AMOUNT','QUANTITY','AMOUNT','QUANTITY','AMOUNT','TOTAL IMPORT']
mnp

,DATE,QUANTITY,AMOUNT,QUANTITY,AMOUNT,QUANTITY,AMOUNT,TOTAL IMPORT
0,DANBRAD LTD,NaN,NaN,NaN,NaN,NaN,Date,: 09/06/2022
1,rvenp_ventas,noproducto_en,NaN,MARL,BORUGH,NaN,Hour,: 10:41:49
2,201907241700,NaN,NaN,Non prod,uct sales,NaN,Page,: 1
3,NaN,NaN,NaN,From : 08/01/2022,To: 08/31/2022,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Cost of to,y = Toy cost + H,appy Meal box
5,NaN,NaN,NaN,NaN,NaN,Cost of to,y = 1.24,NaN
6,NaN,Happy meal t,oys,Celebratio,ns,Other non pr,oducts,NaN
7,Date,Quantity,Amount,Quantity,Amount,Quantity,Amount,Total Import
8,08/01/2022,156,193.44,0,0,3,6,199.44
9,08/02/2022,119,147.56,0,0,1,2,149.56
10,08/03/2022,79,97.96,0,0,0,0,97.96
11,08/04/2022,105,130.2,0,0,0,0,130.2
12,08/05/2022,127,157.48,0,0,2,4,161.48
13,08/06/2022,136,168.64,0,0,2,4,172.64
14,08/07/2022,91,112.84,0,0,3,6,118.84
15,08/08/2022,106,131.44,0,0,0,0,131.44
16,08/09/2022,101,125.24,0,0,0,0,125.24
17,08/10/2022,104,128.96,0,0,0,0,128.96
18,08/11/2022,77,95.48,0,0,0,0,95.48
19,08/12/2022,124,153.76,0,0,1,2,155.76
20,08/13/2022,130,161.2,0,0,0,0,161.2
21,08/14/2022,75,93,0,0,0,0,93
22,08/15/2022,131,162.44,0,0,0,0,162.44
23,08/16/2022,109,135.16,0,0,1,2,137.16
24,08/17/2022,99,122.76,0,0,0,0,122.76
25,08/18/2022,102,126.48,0,0,12,24,150.48
26,08/19/2022,111,137.64,0,0,13,26,163.64
27,08/20/2022,146,181.04,0,0,8,16,197.04
28,08/21/2022,84,104.16,0,0,4,8,112.16
29,08/22/2022,84,104.16,0,0,2,4,108.16
30,08/23/2022,94,116.56,0,0,0,0,116.56
31,08/24/2022,85,105.4,0,0,2,4,109.4
32,08/25/2022,98,121.52,0,0,2,4,125.52
33,08/26/2022,107,132.68,0,0,1,0.01,132.69
34,08/27/2022,127,157.48,0,0,0,0,157.48
35,08/28/2022,86,106.64,0,0,0,0,106.64
36,08/29/2022,77,95.48,0,0,1,2,97.48
37,08/30/2022,79,97.96,0,0,3,6,103.96
38,08/31/2022,78,96.72,0,0,0,0,96.72
39,Totals:,"3,227","4,001.48",0,0,61,120.01,"4,121.49"

In [354]:
mnp = mnp.drop(axis=0, labels=0)
mnp = mnp.drop(axis=0, labels=1)
mnp = mnp.drop(axis=0, labels=2)
mnp = mnp.drop(axis=0, labels=3)
mnp = mnp.drop(axis=0, labels=4)
mnp = mnp.drop(axis=0, labels=5)
mnp = mnp.drop(axis=0, labels=6)
mnp = mnp.drop(axis=0, labels=7)

In [355]:
mnp

,DATE,QUANTITY,AMOUNT,QUANTITY,AMOUNT,QUANTITY,AMOUNT,TOTAL IMPORT
8,08/01/2022,156,193.44,0,0,3,6,199.44
9,08/02/2022,119,147.56,0,0,1,2,149.56
10,08/03/2022,79,97.96,0,0,0,0,97.96
11,08/04/2022,105,130.2,0,0,0,0,130.2
12,08/05/2022,127,157.48,0,0,2,4,161.48
13,08/06/2022,136,168.64,0,0,2,4,172.64
14,08/07/2022,91,112.84,0,0,3,6,118.84
15,08/08/2022,106,131.44,0,0,0,0,131.44
16,08/09/2022,101,125.24,0,0,0,0,125.24
17,08/10/2022,104,128.96,0,0,0,0,128.96
18,08/11/2022,77,95.48,0,0,0,0,95.48
19,08/12/2022,124,153.76,0,0,1,2,155.76
20,08/13/2022,130,161.2,0,0,0,0,161.2
21,08/14/2022,75,93,0,0,0,0,93
22,08/15/2022,131,162.44,0,0,0,0,162.44
23,08/16/2022,109,135.16,0,0,1,2,137.16
24,08/17/2022,99,122.76,0,0,0,0,122.76
25,08/18/2022,102,126.48,0,0,12,24,150.48
26,08/19/2022,111,137.64,0,0,13,26,163.64
27,08/20/2022,146,181.04,0,0,8,16,197.04
28,08/21/2022,84,104.16,0,0,4,8,112.16
29,08/22/2022,84,104.16,0,0,2,4,108.16
30,08/23/2022,94,116.56,0,0,0,0,116.56
31,08/24/2022,85,105.4,0,0,2,4,109.4
32,08/25/2022,98,121.52,0,0,2,4,125.52
33,08/26/2022,107,132.68,0,0,1,0.01,132.69
34,08/27/2022,127,157.48,0,0,0,0,157.48
35,08/28/2022,86,106.64,0,0,0,0,106.64
36,08/29/2022,77,95.48,0,0,1,2,97.48
37,08/30/2022,79,97.96,0,0,3,6,103.96
38,08/31/2022,78,96.72,0,0,0,0,96.72
39,Totals:,"3,227","4,001.48",0,0,61,120.01,"4,121.49"

### Save to csv

In [ ]:
mnp.to_csv(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf')

### Quality Cost

In [ ]:
Report_Name = "QualityCost"

In [16]:
qc = tabula.read_pdf(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf', stream=True, guess=False, pandas_options={'header': None},
                     columns=(147.39, 188.19,225.38,267.77,313.66,355.50,415.66,460.33,500.88))[0]
qc

'pages' argument isn't specified.Will extract only from page 1 by default.

,0,1,2,3,4,5,6,7,8,9
0,DANBRAD LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date : 09/06/2022
1,rvenp_ventasnoproduct,o_en,NaN,NaN,NaN,M,ARLBORU,GH,NaN,Hour : 10:41:49
2,201907241700,NaN,NaN,NaN,NaN,Non p,roduct s,ales,NaN,Page : 1
3,NaN,NaN,NaN,NaN,From,: 08/01/,2022 To:,08/31/20,22,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cost of toy = Toy cost + Happy Meal box
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cost of toy = 1.24
6,H,appy meal,toys,NaN,NaN,Celeb,rations,NaN,NaN,Other non products
7,Date Quantit,y,NaN,Amount,Qua,ntity,A,mount,Quan,tity Amount Total Import
8,08/01/2022 15,6,NaN,193.44,NaN,0,NaN,0,NaN,3 6 199.44
9,08/02/2022 11,9,NaN,147.56,NaN,0,NaN,0,NaN,1 2 149.56
10,08/03/2022 7,9,NaN,97.96,NaN,0,NaN,0,NaN,0 0 97.96
11,08/04/2022 10,5,NaN,130.2,NaN,0,NaN,0,NaN,0 0 130.2
12,08/05/2022 12,7,NaN,157.48,NaN,0,NaN,0,NaN,2 4 161.48
13,08/06/2022 13,6,NaN,168.64,NaN,0,NaN,0,NaN,2 4 172.64
14,08/07/2022 9,1,NaN,112.84,NaN,0,NaN,0,NaN,3 6 118.84
15,08/08/2022 10,6,NaN,131.44,NaN,0,NaN,0,NaN,0 0 131.44
16,08/09/2022 10,1,NaN,125.24,NaN,0,NaN,0,NaN,0 0 125.24
17,08/10/2022 10,4,NaN,128.96,NaN,0,NaN,0,NaN,0 0 128.96
18,08/11/2022 7,7,NaN,95.48,NaN,0,NaN,0,NaN,0 0 95.48
19,08/12/2022 12,4,NaN,153.76,NaN,0,NaN,0,NaN,1 2 155.76
20,08/13/2022 13,0,NaN,161.2,NaN,0,NaN,0,NaN,0 0 161.2
21,08/14/2022 7,5,NaN,93,NaN,0,NaN,0,NaN,0 0 93
22,08/15/2022 13,1,NaN,162.44,NaN,0,NaN,0,NaN,0 0 162.44
23,08/16/2022 10,9,NaN,135.16,NaN,0,NaN,0,NaN,1 2 137.16
24,08/17/2022 9,9,NaN,122.76,NaN,0,NaN,0,NaN,0 0 122.76
25,08/18/2022 10,2,NaN,126.48,NaN,0,NaN,0,NaN,12 24 150.48
26,08/19/2022 11,1,NaN,137.64,NaN,0,NaN,0,NaN,13 26 163.64
27,08/20/2022 14,6,NaN,181.04,NaN,0,NaN,0,NaN,8 16 197.04
28,08/21/2022 8,4,NaN,104.16,NaN,0,NaN,0,NaN,4 8 112.16
29,08/22/2022 8,4,NaN,104.16,NaN,0,NaN,0,NaN,2 4 108.16
30,08/23/2022 9,4,NaN,116.56,NaN,0,NaN,0,NaN,0 0 116.56
31,08/24/2022 8,5,NaN,105.4,NaN,0,NaN,0,NaN,2 4 109.4
32,08/25/2022 9,8,NaN,121.52,NaN,0,NaN,0,NaN,2 4 125.52
33,08/26/2022 10,7,NaN,132.68,NaN,0,NaN,0,NaN,1 0.01 132.69
34,08/27/2022 12,7,NaN,157.48,NaN,0,NaN,0,NaN,0 0 157.48
35,08/28/2022 8,6,NaN,106.64,NaN,0,NaN,0,NaN,0 0 106.64
36,08/29/2022 7,7,NaN,95.48,NaN,0,NaN,0,NaN,1 2 97.48
37,08/30/2022 7,9,NaN,97.96,NaN,0,NaN,0,NaN,3 6 103.96
38,08/31/2022 7,8,NaN,96.72,NaN,0,NaN,0,NaN,0 0 96.72
39,"Totals: 3,22",7,"4,",001.48,NaN,0,NaN,0,NaN,"61 120.01 4,121.49"

In [17]:
qc.columns = ['MENU ITEM','AVG. PRICE','FOOD COST%','UNITS SOLD','FOOD COST$','UNITS WASTED','MENU WST FOOD COST$','RECIPE COST: FOOD','RECIPE COST: PAPER', 'RECIPE COST: TOTAL']
qc

,MENU ITEM,AVG. PRICE,FOOD COST%,UNITS SOLD,FOOD COST$,UNITS WASTED,MENU WST FOOD COST$,RECIPE COST: FOOD,RECIPE COST: PAPER,RECIPE COST: TOTAL
0,DANBRAD LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date : 09/06/2022
1,rvenp_ventasnoproduct,o_en,NaN,NaN,NaN,M,ARLBORU,GH,NaN,Hour : 10:41:49
2,201907241700,NaN,NaN,NaN,NaN,Non p,roduct s,ales,NaN,Page : 1
3,NaN,NaN,NaN,NaN,From,: 08/01/,2022 To:,08/31/20,22,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cost of toy = Toy cost + Happy Meal box
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cost of toy = 1.24
6,H,appy meal,toys,NaN,NaN,Celeb,rations,NaN,NaN,Other non products
7,Date Quantit,y,NaN,Amount,Qua,ntity,A,mount,Quan,tity Amount Total Import
8,08/01/2022 15,6,NaN,193.44,NaN,0,NaN,0,NaN,3 6 199.44
9,08/02/2022 11,9,NaN,147.56,NaN,0,NaN,0,NaN,1 2 149.56
10,08/03/2022 7,9,NaN,97.96,NaN,0,NaN,0,NaN,0 0 97.96
11,08/04/2022 10,5,NaN,130.2,NaN,0,NaN,0,NaN,0 0 130.2
12,08/05/2022 12,7,NaN,157.48,NaN,0,NaN,0,NaN,2 4 161.48
13,08/06/2022 13,6,NaN,168.64,NaN,0,NaN,0,NaN,2 4 172.64
14,08/07/2022 9,1,NaN,112.84,NaN,0,NaN,0,NaN,3 6 118.84
15,08/08/2022 10,6,NaN,131.44,NaN,0,NaN,0,NaN,0 0 131.44
16,08/09/2022 10,1,NaN,125.24,NaN,0,NaN,0,NaN,0 0 125.24
17,08/10/2022 10,4,NaN,128.96,NaN,0,NaN,0,NaN,0 0 128.96
18,08/11/2022 7,7,NaN,95.48,NaN,0,NaN,0,NaN,0 0 95.48
19,08/12/2022 12,4,NaN,153.76,NaN,0,NaN,0,NaN,1 2 155.76
20,08/13/2022 13,0,NaN,161.2,NaN,0,NaN,0,NaN,0 0 161.2
21,08/14/2022 7,5,NaN,93,NaN,0,NaN,0,NaN,0 0 93
22,08/15/2022 13,1,NaN,162.44,NaN,0,NaN,0,NaN,0 0 162.44
23,08/16/2022 10,9,NaN,135.16,NaN,0,NaN,0,NaN,1 2 137.16
24,08/17/2022 9,9,NaN,122.76,NaN,0,NaN,0,NaN,0 0 122.76
25,08/18/2022 10,2,NaN,126.48,NaN,0,NaN,0,NaN,12 24 150.48
26,08/19/2022 11,1,NaN,137.64,NaN,0,NaN,0,NaN,13 26 163.64
27,08/20/2022 14,6,NaN,181.04,NaN,0,NaN,0,NaN,8 16 197.04
28,08/21/2022 8,4,NaN,104.16,NaN,0,NaN,0,NaN,4 8 112.16
29,08/22/2022 8,4,NaN,104.16,NaN,0,NaN,0,NaN,2 4 108.16
30,08/23/2022 9,4,NaN,116.56,NaN,0,NaN,0,NaN,0 0 116.56
31,08/24/2022 8,5,NaN,105.4,NaN,0,NaN,0,NaN,2 4 109.4
32,08/25/2022 9,8,NaN,121.52,NaN,0,NaN,0,NaN,2 4 125.52
33,08/26/2022 10,7,NaN,132.68,NaN,0,NaN,0,NaN,1 0.01 132.69
34,08/27/2022 12,7,NaN,157.48,NaN,0,NaN,0,NaN,0 0 157.48
35,08/28/2022 8,6,NaN,106.64,NaN,0,NaN,0,NaN,0 0 106.64
36,08/29/2022 7,7,NaN,95.48,NaN,0,NaN,0,NaN,1 2 97.48
37,08/30/2022 7,9,NaN,97.96,NaN,0,NaN,0,NaN,3 6 103.96
38,08/31/2022 7,8,NaN,96.72,NaN,0,NaN,0,NaN,0 0 96.72
39,"Totals: 3,22",7,"4,",001.48,NaN,0,NaN,0,NaN,"61 120.01 4,121.49"

In [18]:
qc = qc.drop(axis=0, labels=0)
qc = qc.drop(axis=0, labels=1)
qc = qc.drop(axis=0, labels=2)
qc = qc.drop(axis=0, labels=3)
qc = qc.drop(axis=0, labels=4)
qc = qc.drop(axis=0, labels=5)
qc = qc.drop(axis=0, labels=6)
qc = qc.drop(axis=0, labels=7)

In [19]:
qc

,MENU ITEM,AVG. PRICE,FOOD COST%,UNITS SOLD,FOOD COST$,UNITS WASTED,MENU WST FOOD COST$,RECIPE COST: FOOD,RECIPE COST: PAPER,RECIPE COST: TOTAL
8,08/01/2022 15,6,NaN,193.44,NaN,0,NaN,0,NaN,3 6 199.44
9,08/02/2022 11,9,NaN,147.56,NaN,0,NaN,0,NaN,1 2 149.56
10,08/03/2022 7,9,NaN,97.96,NaN,0,NaN,0,NaN,0 0 97.96
11,08/04/2022 10,5,NaN,130.2,NaN,0,NaN,0,NaN,0 0 130.2
12,08/05/2022 12,7,NaN,157.48,NaN,0,NaN,0,NaN,2 4 161.48
13,08/06/2022 13,6,NaN,168.64,NaN,0,NaN,0,NaN,2 4 172.64
14,08/07/2022 9,1,NaN,112.84,NaN,0,NaN,0,NaN,3 6 118.84
15,08/08/2022 10,6,NaN,131.44,NaN,0,NaN,0,NaN,0 0 131.44
16,08/09/2022 10,1,NaN,125.24,NaN,0,NaN,0,NaN,0 0 125.24
17,08/10/2022 10,4,NaN,128.96,NaN,0,NaN,0,NaN,0 0 128.96
18,08/11/2022 7,7,NaN,95.48,NaN,0,NaN,0,NaN,0 0 95.48
19,08/12/2022 12,4,NaN,153.76,NaN,0,NaN,0,NaN,1 2 155.76
20,08/13/2022 13,0,NaN,161.2,NaN,0,NaN,0,NaN,0 0 161.2
21,08/14/2022 7,5,NaN,93,NaN,0,NaN,0,NaN,0 0 93
22,08/15/2022 13,1,NaN,162.44,NaN,0,NaN,0,NaN,0 0 162.44
23,08/16/2022 10,9,NaN,135.16,NaN,0,NaN,0,NaN,1 2 137.16
24,08/17/2022 9,9,NaN,122.76,NaN,0,NaN,0,NaN,0 0 122.76
25,08/18/2022 10,2,NaN,126.48,NaN,0,NaN,0,NaN,12 24 150.48
26,08/19/2022 11,1,NaN,137.64,NaN,0,NaN,0,NaN,13 26 163.64
27,08/20/2022 14,6,NaN,181.04,NaN,0,NaN,0,NaN,8 16 197.04
28,08/21/2022 8,4,NaN,104.16,NaN,0,NaN,0,NaN,4 8 112.16
29,08/22/2022 8,4,NaN,104.16,NaN,0,NaN,0,NaN,2 4 108.16
30,08/23/2022 9,4,NaN,116.56,NaN,0,NaN,0,NaN,0 0 116.56
31,08/24/2022 8,5,NaN,105.4,NaN,0,NaN,0,NaN,2 4 109.4
32,08/25/2022 9,8,NaN,121.52,NaN,0,NaN,0,NaN,2 4 125.52
33,08/26/2022 10,7,NaN,132.68,NaN,0,NaN,0,NaN,1 0.01 132.69
34,08/27/2022 12,7,NaN,157.48,NaN,0,NaN,0,NaN,0 0 157.48
35,08/28/2022 8,6,NaN,106.64,NaN,0,NaN,0,NaN,0 0 106.64
36,08/29/2022 7,7,NaN,95.48,NaN,0,NaN,0,NaN,1 2 97.48
37,08/30/2022 7,9,NaN,97.96,NaN,0,NaN,0,NaN,3 6 103.96
38,08/31/2022 7,8,NaN,96.72,NaN,0,NaN,0,NaN,0 0 96.72
39,"Totals: 3,22",7,"4,",001.48,NaN,0,NaN,0,NaN,"61 120.01 4,121.49"

### Save to csv

In [ ]:
qc.to_csv(f'{Restaurant}/{Report_Name}/{Restaurant}_{Report_Name}_{short_month}_{year}.pdf')